body{
  font-family: monospace;
  font-size: 16px;
}

a.link,
span.text{
  display: table;
}

input[type="text"]{
  width: 500px;
}

button{
  display: block;
  margin: 8px 0px;
}

.list{
  margin-top: 16px;
}

hr{
  margin-top: 15px;
}

.input-wrapper{
  display: table;
  margin: 10px 0px;
}

textarea{
  display: block;
  margin-top: 10px;
  width: 750px;
  height: 250px;
}