body.init .fade-in-out{
  transition: opacity var(--transition-duration);
  -webkit-transition: opacity var(--transition-duration);
}

.top{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.main{
  --transition-duration: 1s;
  text-align: center;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
}

.modal-outer{
  --transition-duration: .5s;
  background: rgba(0, 0, 0, .75);
  opacity: 0;
  z-index: 100;
  pointer-events: none;
}

.modal-inner-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
}

body.init .modal-inner{
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: top var(--transition-duration);
  -webkit-transition: top var(--transition-duration);
}