html, body{
  width: 100%;
  height: 100%;
}

a,
a:link,
a:visited,
a:hover,
a:active{
  color: blue;
  text-decoration: none;
}

.has-canvas{
  margin: 0px;
  overflow: hidden;
  outline: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar{
  display: none;
  visibility: hidden;
  opacity: 0;
}

html, body{
  scrollbar-width: none;
}