html{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  user-select: none;
  overflow: hidden;
}

.main{
  width: 100%;
  height: 100%;
}

.item{
  width: fit-content;
  height: fit-content;
  position: absolute;
}

.item.invisible{
  transform: scale(0);
  opacity: 0;
}

.item.visible{
  transition: all 0.5s;
  transform: scale(1);
  opacity: 1;
}

.item-info{
  display: inline-block;
  padding: 5px;
  /* border: 1px solid; */
  background-color: #def;
  width: 600px;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
}

.item-str{
  font-size: 40px;
  min-height: 40px;
  font-weight: bold;
}

.item-cnt{
  display: inline-block;
  font-weight: bold;
  font-size: 60px;
  margin-left: 12px;
  vertical-align: middle;
}