button{
  margin-top: 8px;
  display: block;
  width: 200px;
}

progress{
  margin-top: 8px;
  width: 500px;
  height: 40px;
}

.progress-info{
  display: inline-block;
  line-height: 40px;
  height: 40px;
}

.input-text{
  margin-top: 8px;
  display: block;
  width: 1500px;
}

.input-ta{
  margin-top: 8px;
  display: block;
  width: 1500px;
  height: 500px;
  resize: none;
}